.programs-container
  .card
    &.waves-effect
      overflow: visible
      max-height: 17rem

  .card
    & .dropdown-button
      z-index: 5
      position: absolute
      right: 0
      bottom: 75%
      i
        width: 30px
        height: 30px
        line-height: 30px
    &-content
      .program-file
        h1
          margin: 0
      .meta, .file
        padding: 1em 0
        i
          vertical-align: middle

