<div class="row programs-container" ng-if="HomeCtrl.programas.length">
  <div class="col s12 m6 l3 program" ng-repeat="program in HomeCtrl.programas | filter: HomeCtrl.filter.searchFilter track by program._id">
      <ul id="programsMenu{{program._id}}" class="auto-size dropdown-content white">
          <li><a href="#editModal" class="grey-text text-darken-3 modal-trigger" data-target="editModal" ng-click="HomeCtrl.setCurrentProgram(program._id)"><i class="material-icons">mode_edit</i>Editar</a></li>
          <li><a href="#" class="materialize-red-text text-lighten-1"><i class="material-icons">delete</i>Eliminar</a></li>
      </ul>
      <div class="card program">
          <a class="dropdown-button" href="#" data-activates="programsMenu{{program._id}}"><i class="material-icons small">more_horiz</i></a>
          <a href="{{ program.file.path }}" target="_blank" download type="{{ program.file.mime }}" class="card-content valign-wrapper waves-effect" ng-click="HomeCtrl.download(program.info.name)">
              <div class="program-header valign-wrapper">
                  <h1 class="program-color"  ng-bind="::program.info.name | limitTo: 1"></h1>
                  <p class="file truncate">
                    <strong class="truncate" ng-bind="::program.info.name"></strong>
                  </p>
              </div>
              <div class="program-body">
                <div class="divider"></div>
                  <p class="meta">
                    <small class="truncate">
                      <i class="material-icons tiny">save</i> {{::program.file.size | bytes }} <i class="material-icons tiny">label</i> {{::program.info.category | limitTo: 8}} <i class="material-icons tiny">star</i> {{::program.meta.ratting}} Descargas
                    </small>
                  </p>
              </div>
          </a>
      </div>
  </div>
</div>
<!-- Usaremos esto mas adelante para filtrar las vistas y poner un estado vacio -->
<!-- <div class="valign-wrapper" ng-if="HomeCtrl.programas.length">
  <div class="valign">
    <h1 ng-if="HomeCtrl.filter.searchFilter">No hay nada que ver en <span ng-bind="HomeCtrl.filter.searchFilter"></span></h1>
    <h1 ng-if="!HomeCtrl.filter.searchFilter">No has agregado ningun programa :( <small>Agrega uno <a href="#">aqui</a></small> </h1>
  </div>
</div -->
<div class="fixed-action-btn">
  <a href="#creationModal" class="modal-trigger btn-floating btn-large red darken-1 waves-effect waves-light">
    <i class="large material-icons">add</i>
  </a>
</div>
<div ng-controller="AdminController as AdminCtrl">
  <div ng-include="'/templates/modals/modal.creation.html'" ></div>
  <div ng-include="'/templates/modals/modal.server.html'" ></div>
  <div ng-include="'/templates/modals/modal.edit.html'" ></div>
</div>
