<div class="row programs-container">
  <div class="col s12 m6 l3" ng-repeat="program in HomeCtrl.programas track by program._id">
      <ul id="programsMenu{{program._id}}" class="auto-size dropdown-content white">
          <li><a href="#!" class="light-blue-text"><i class="material-icons">mode_edit</i>Editar</a></li>
          <li><a href="#!" class="light-blue-text"><i class="material-icons">delete</i>Eliminar</a></li>
      </ul>
      <div class="card materialize-red darken-1 waves-effect waves-light program">
          <a class="dropdown-button" data-beloworigin="true" href="#" data-activates="programsMenu{{program._id}}"><i class="material-icons small white-text">more_vert</i></a>
          <div class="card-content white-text">
              <div class="program-header">
                  <h1 class="center-align" ng-bind="::program.info.name | limitTo: 1"></h1>
              </div>
              <div class="program-body">
                  <p class="file truncate">
                    <strong class="truncate center-align" ng-bind="::program.info.name"></strong>
                  </p>
                  <div class="divider"></div>
                  <p class="meta">
                    <small class="truncate">
                      <i class="material-icons tiny">save</i> {{::program.file.size}} <i class="material-icons tiny">label_outline</i> {{::program.info.category | limitTo: 8}} <i class="material-icons tiny">star</i> {{::program.meta.ratting}} Descargas
                    </small>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
