//- Vendor Scripts and Libraries, modules and plugins
script(src="components/angular/angular.js")
script(src="components/jquery/dist/jquery.js")
script(src="components/materialize/dist/js/materialize.js")
script(src="components/angular-ui-router/release/angular-ui-router.js")
script(src="components/angular-animate/angular-animate.js")
script(src="components/ngstorage/ngStorage.js")

//- My Application Goes Here
script(src="scripts/functions.js")
script(src="scripts/app.js")
script(src="scripts/app.config.js")
script(src="scripts/controllers/home.js")
