//- Vendor .Scripts and Libraries, modules and plugins

// build:js scripts/vendor.min.js
script(src="components/jquery/dist/jquery.js")
script(src="components/materialize/dist/js/materialize.js")
script(src="components/angular/angular.js")
script(src="components/ng-file-upload/ng-file-upload.js")
script(src="components/ng-file-upload/ng-file-upload-shim.min.js")
script(src="components/angular-ui-router/release/angular-ui-router.js")
script(src="components/angular-animate/angular-animate.js")
script(src="components/angular-resource/angular-resource.js")
script(src="components/ngstorage/ngStorage.js")
// endbuild

// build:js scripts/app.min.js
//- My Application Goes Here
script(src="scripts/functions.js")
script(src="scripts/app.js")
script(src="scripts/app.config.js")
script(src="scripts/app.constants.js")
script(src="scripts/factories/factory.api.js")
script(src="scripts/services/service.programas.js")
script(src="scripts/services/service.maintenance.js")
script(src="scripts/filters/filter.sizes.js")
script(src="scripts/controllers/controller.home.js")
script(src="scripts/controllers/controller.navbar.js")
script(src="scripts/controllers/controller.admin.js")
// endbuild
