meta(charset='UTF-8')
meta(name='viewport', content='width=device-width;max-width=devide-width')
title= title
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="Sistema Servidor de Archivos Estaticos con MEAN Stack")

base(href="/")

//- Author Information
meta(name="author" content="Misael Taveras")
meta(name="publisher" content="https://github.com/Macro-T")
meta(name="copyright" content="https://github.com/Macro-T")
meta(name="host" content="https://github.com/Macro-T")

//- Support For Android HomeScreen
meta(name="mobile-web-app-capable" content="yes")
link(rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png")

//- Support For iOS HomeScreen
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-mobile-web-app-title" content="Kiosko Profesores")
link(rel="apple-touch-icon" href="images/touch/apple-touch-icon.png")

//- Support for wPhone HomeScreen
meta(name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png")
meta(name="msapplication-TileColor" content="#03345D")

//- Components Styles
link(rel="stylesheet", href="components/Materialize/dist/css/materialize.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

//- Personal Styles
link(rel="stylesheet", href="styles/style.css")
