block navbar
  //Navbar starts here
  .navbar-fixed(ng-controller="NavbarController as NavbarCtrl")
    nav
      .nav-wrapper.teal.darken-2
        .container
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.zmdi.zmdi-menu
          a(href="/").brand-logo Sysdownload
          .search-box.right
            a(href="#")
              span.material-icons.waves-effect.waves-light search
            .searcher
              input(type="search" name="search" ng-model="NavbarCtrl.filter.searchFilter.info.name" ng-model-options="{ debounce: 1000 }")#mainSearch
              span.material-icons(ng-click="NavbarCtrl.clearSearch()") close

