<!-- Modal Info Structure -->
<div id="infoModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Información de Servidores <a href="#"><span class="material-icons tiny" title="Actualizar Informacion" ng-click="AdminCtrl.retriveServerinfo()">replay</span></a></h4>
    <a href="#" title="Cerrar Informacion del Servidor" class="modal-close close waves-effect"><i class="material-icons small">close</i></a>
    <div class="divider"></div>
    <div class="row">
      <div class="col s10 offset-s1">
        <h5>Discos Duros</h5>
        <div class="divider"></div>
        <ul>
          <li ng-repeat="disk in AdminCtrl.serverinfo.disk">
            <strong>{{::disk.drive}} :</strong><span>{{::disk.free}} of {{::disk.total}}</span>
            <div class="progress">
              <div class="determinate" style="width: {{::disk.usedPercetage}}}%"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <h5>Base de Datos</h5>
        <div class="divider"></div>
        <p ng-if="AdminCtrl.serverinfo.db"><strong>{{::AdminCtrl.serverinfo.db}}</strong> Entradas en la base de datos.</p>
        <p>Si crees que deberían haber más <a href="#">usa esta herramienta</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <h5>Memoria</h5>
        <p><em>Proximamente consumo de memoria en tiempo real en el servidor</em></p>
      </div>
    </div>
  </div>
</div>
<!-- End Info Modal -->
