extends layout

block content
  include ./partials/navbar.jade
  block navbar
  main.container(ui-view)
    .valign-wrapper
      .valign
        .preloader-wrapper.big.active
          .spinner-layer.spinner-blue
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle
