doctype html
html(lang='es')
  head
    include ./partials/head.jade
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body(ng-app="sysDownload")
    block navbar
    block content
    include partials/footer.jade
